{% load static %}

{% block extra_css %}
  <link href="{% static 'scheduler/css/jquery.datetimepicker.css' %}" rel='stylesheet' />
{% endblock %}

{% block extra_js %}
  <script src="{% static 'scheduler/js/jquery.datetimepicker.full.js' %}"></script>
{% endblock %}

<form action="." method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <p><input type="submit" value="Schedule"></p>
</form>

<script>
  $(function () {
    $("#id_datetime").datetimepicker({
      format: 'd/m/Y H:i',
    });
  });
</script>