{% if patients %}
   <ul>
  {% for patient in patients %}
    <a class="patient_result" data-patient="{{ patient.pds }}">{{ patient.pd }}</li></a>
  {% endfor %}
  </ul>
{% else %}
  <p>No patients found.</p>
{% endif %}

<script type="text/javascript">
  // on click, populate patient details on form
  $('.patient_result').each(function() {
    $(this).on('click', function() {
      var patient_data = JSON.parse(this.dataset.patient);
      var appointment_form = $('#appointment_form');
      for (let [key, val] of Object.entries(patient_data)) {
        $(appointment_form).find('[name="' + key + '"]').val(val)
      };
    });
  });
</script>