{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block body_class %}template-suggest{% endblock %}


{% block extra_css %}
{% endblock %}

{% block extra_js %}
  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {{ page.intro | richtext }}

    <form action="." method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <p><input type="submit" value="Schedule"></p>
    </form>


<script>
  $(function () {
    $("#id_datetime").datetimepicker({
      format: 'd/m/Y H:i',
    });
  });
</script>

{% endblock %}