{% load static %}

<button data-formType="appointment" id="switch_form">Event</button>

  <form id="appointment_form" class="active" action="." method="POST">
      {% csrf_token %}

      {{ forms.appointment.as_p }}

      <p><input type="submit" value="Schedule"></p>
  </form>

  <form id="event_form" action="." method="POST">
      {% csrf_token %}

      {{ forms.event.as_p }}

      <p><input type="submit" value="Schedule"></p>
  </form>


<style type="text/css">
  .hidden {
    height: 0px;
    visibility: hidden;
  }
  .active .hidden {
    visibility: visible;
  }
</style>


<script type="text/javascript">
  button = document.getElementById('switch_form').addEventListener('click', function() {
    console.log(this.dataset.formType);
  });
  // function switchForm(form_type) {
  //   var form_container = form_type + '_form_container';
  //   var element = document.getElementById(form_container);
  //   element.classList.remove('active');
  //   element.classList.add('hidden');
  // }

//   $(document).ready(function() {
//   $(".toggle-button").on("click", function() {
//     $(this).closest(".testimonial-wrap").toggleClass("active");
//   });
// });
</script>