{% load static %}

{% block extra_css %}
  <link href="{% static 'scheduler/css/jquery.datetimepicker.css' %}" rel='stylesheet' />
{% endblock %}

{% block extra_js %}
  <script src="{% static 'scheduler/js/jquery.datetimepicker.full.js' %}"></script>
{% endblock %}

  <!-- Modal Trigger -->
  <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

  <!-- Modal Structure -->
<!--   <div id="modal1" class="modal">
    <div class="modal-content">
 -->
<div id="modal1">

  <div id="replaceable-content" class="col-6">
    {% include 'scheduler/patient_list_partial.html' %}
  </div>
 
  <button data-formType="appointment" id="switch_form">Schedule Event</button>

  <form id="appointment_form" class="active" action="." method="POST">
    {% csrf_token %}

    {{ forms.appointment.as_p }}

    <p><input type="submit" value="Schedule"></p>
  </form>

  <form id="event_form" class="hidden" action="." method="POST">
    {% csrf_token %}

    {{ forms.event.as_p }}

    <p><input type="submit" value="Schedule"></p>
  </form>
</div>

<!--     </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div> -->

<!-- TODO: start/end for event should be conditional
  if all day unchecked, show start / end
https://www.fusionbox.com/blog/detail/creating-conditionally-required-fields-in-django-forms/577/
-->

<!-- TODO: place CSS and Scripts in folders. Use \{\% extra js \%\} in this template -->
<style type="text/css">
  .hidden {
    height: 0px;
    visibility: hidden;
  }
  .active {
    visibility: visible;
  }
</style>

<script type="text/javascript">

  // format conversion helpers
  function formatDateTimeMoment(time) {
    return moment(time).format(format);
  }

  // keep create obj to keep track of initial object + any changes
  class ScheduleModalManager {
    // event_start = event_start; // ISO 8601 string

    setScheduleEventStart(new_start) {
      this.schedule_event_start = new_start;
    }
    setAppointmentDuration(duration) {
      this.appointmentDuration = duration;
    }

    setAllStartFields() {
      var val_to_display = moment(this.schedule_event_start).format(
        'DD-MM-YYYY hh:mm');

      $.each( $('.schedule_start_field'), function(i, v) {
        v.value = val_to_display;
      });
    }

    setEventEndField(active_form_id) {
      var end_display_val = moment(this.schedule_event_start).add(
        this.appointmentDuration, 'minutes').format('DD-MM-YYYY hh:mm');

      var end_field_selector = '#' + active_form_id + ' #id_end';

      var service_end = $(end_field_selector)[0];
      console.log(service_end)
      console.log(end_display_val)

      service_end.value = end_display_val;
    }
  }

  var SMM = new ScheduleModalManager();

</script>

<script type="text/javascript">
  // addEventListener to switch_form button
  document.getElementById('switch_form').addEventListener('click', function() {
    var reverse_of = {'appointment': 'event', 'event': 'appointment'};
    var active_form = this.dataset.formtype;
    var inactive_form = reverse_of[this.dataset.formtype];

    document.getElementById(active_form + '_form').classList.remove('active');
    document.getElementById(active_form + '_form').classList.add('hidden');
    document.getElementById(inactive_form + '_form').classList.remove('hidden');
    document.getElementById(inactive_form + '_form').classList.add('active');

    // change what the button displays
    this.dataset.formtype = inactive_form;
    this.innerHTML = "Schedule " + active_form.charAt(0).toUpperCase() + active_form.slice(1);
  });
</script>

<script type="text/javascript">
  $('#id_service').change( function() {

    var service_id = $(this).val();
    var active_form_id = $(this).closest('form')[0].id;

    // only bother with ajax if an option selected
    if (service_id) {

      $.ajax({
        type: 'GET',
        // TODO - add below as data-attr
        url: 'http://127.0.0.1:8000/ajax/event_service_duration/',
        data: {
          'service_id': service_id
        },
        success: function (response) {
          var duration = JSON.parse(response['duration']);
          SMM.setAppointmentDuration(duration);
          SMM.setEventEndField(active_form_id);
        },
        error: function (xhr, status, error) {
          console.log("error");
          console.log(status, error);
        }
      });
    }
  })


  var lookupPatient = function(qb, v) {
    var query_basis = qb;
    var query_value = v;

    $.ajax({
      type: 'GET',
      url: 'http://127.0.0.1:8000/ajax/patient_lookup/',
      data: {
        'query_basis': query_basis,
        'query_value': query_value,
      },
      success: function (response) {
        console.log(response);
      },
      error: function (xhr, status, error) {
        console.log("error");
        console.log(status, error);
      }
    });
  }

  $('#id_patient_last_name').keyup( function() { lookupPatient('last_name', $(this).val()); });
  $('#id_patient_phone_number').keyup( function() { lookupPatient('phone', $(this).val()); });
  $('#id_patient_first_name').keyup( function() { lookupPatient('first_name', $(this).val()); });
  $('#id_patient_email').keyup( function() { lookupPatient('email', $(this).val()); });

</script>

<!--       // var end_fields = document.querySelectorAll('.schedule_end_field');
      // for (var i = end_fields.length - 1; i >= 0; i--) {
      //   end_fields[i].setAttribute('data-start', moment(info.end).toISOString());
      // } -->

<!-- <script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var options = {};
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  })
</script> -->